/* Pokem Ipsum, by Lily Chen (hello@pokemipsum.com): http://pokemipsum.com/ */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lobster:400);

body {
	height: 100%;
	background: url(http://pokemipsum.com/img/dodrio.gif) repeat;
}

@media (prefers-reduced-motion: reduce) {
	body {
		background: url(http://pokemipsum.com/img/dodrio-still.png) repeat;
	}
}

#banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    text-align: center;
}

#banner li {
	display: inline;
	font-family: 'Montserrat', Arial, sans-serif;
	font-weight: 700;
	font-size: 1em;
	color: #FFFFFF;
	padding: 30px;
}

#banner li:nth-child(1) {
	color: #999999;
}

#banner li a, #banner li a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

#banner li a:hover {
	color: #4a4a4a;
}

#header h1 {
	font-family: 'Lobster', 'Montserrat', Arial, sans-serif;
	font-weight: 400;
	font-size: 6em;
	text-align: center;
	line-height: 1.5;
	text-shadow: -0.05em 0.1em 0.15em #1b285f;
}

#header a {
	text-decoration: none;
	color: #F20C0C;
}

#pokem-ipsum-container {
	font-family: 'Montserrat', Arial, sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #2a2a2a;
	line-height: 1.5;

	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;

	-webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

#pokem-ipsum-container h2 {
	padding-top: 0.5em;
}

#pokem-ipsum-container a {
	color: #000000;
}

#pokem-ipsum-container a:hover {
	color: #777777;
	text-decoration: none;
}

.outside-container {
	min-width: 360px;
	width: 60%;
	height: 100%;
	border: none;
	margin: 20px auto;
	background-color: #FFFFFF;
	border-top: 40px solid #FFFFFF;
	padding-bottom: 30px;
	text-align: center;
}
